<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.4/css/ui.jqgrid.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.4/jquery.jqgrid.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.4/i18n/grid.locale-en.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <style>
        .pagination li a, .pagination li span {
            cursor: pointer;
        }
        #loading-indicator {
          position: absolute;
          left: 10px;
          top: 10px;
        }
        .horizontal-scroll {
            width: 2750px;
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
        .ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td { border-right-width: 0px; border-left-width: 0px; border-left-style: none; border-right-style: none; }

        .ui-jqgrid tr.jqfoot>td, .ui-jqgrid tr.jqgroup>td, .ui-jqgrid tr.jqgrow>td {
            padding: 15px 5px 15px 5px;
        }
        tr.ui-priority-secondary {
            background-color: #f7f7f7;
        }
        tr.jqgrow {
            border-top-color: #d5d5d5;
            border-bottom-color: #d5d5d5;
        }
        .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
            vertical-align: middle;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
        }
        tr.ui-search-toolbar {
            border-top-style: none;
        }
        .ui-jqgrid .ui-search-table { height: 30px; }
        .ui-jqgrid .ui-search-table .ui-search-oper { height: 30px; }
        .ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th { height: 32px; }
        tr.jqgrow.success {
            background-color: #dff0d8;
        }
        tr.jqgrow.danger {
            background-color: #f2dede;
        }
        tr.jqgrow.info {
            background-color: #d9edf7;
        }
        input.form-control.input-large {
            width: 250px;
        }
    </style>

</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img alt="Brand" src="/images/lcag_logo.jpg" width="60">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text">
                        <span id="totalContributions" class="label label-default">Total £0</span>
                        <span id="totalContributors" class="label label-primary">0 Contributors</span>
                        <span id="numberOfRegisteredMembers" class="label label-success">0 Members</span>
                        <span id="numberOfGuests" class="label label-info">0 Guests</span>
                    </p>
                </div>
            </div>
        </nav>

        <div class="horizontal-scroll">
            <table id="grid">
            </table>
        </div>

        <script type="text/javascript">
            var urlPrefix = "";

            var formatters = {
                "registrationDate": function(cellvalue, options, row) {
                    return moment(row.registrationDate).format("DD/MM/YYYY HH:mm");
                },
                "identificationChecked": function(cellvalue, options, row) {
                    return '<input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="identificationChecked_' + row.id + '" type="checkbox" ' + (row.identificationChecked ? ' checked="checked"' : '') + '" data-row-id="' + row.id + '" />';
                },
                "hmrcLetterChecked": function(cellvalue, options, row) {
                    return '<input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="hmrcLetterChecked_' + row.id + '" type="checkbox" ' + (row.hmrcLetterChecked ? ' checked="checked"' : '') + '" data-row-id="' + row.id + '" />';
                },
                "contributionAmount": function(cellvalue, options, row) {
                    return '<div class="input-group"><div class="input-group"><div class="input-group-addon">£</div><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="contributionAmount_' + row.id + '" type="text" value="' + row.contributionAmount + '" class="form-control"></div></div>';
                },
                "contributionDate": function(cellvalue, options, row) {
                    var dateString = row.contributionDate == null ? "" : moment(row.contributionDate).format("DD/MM/YYYY");
                    return '<div class="input-group date"><div class="input-group-addon"><i class="fa fa-calendar"></i></div><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="contributionDate_' + row.id + '" type="text" class="form-control" value="' + dateString + '"></div>';
                },
                "agreedToContributeButNotPaid": function(cellvalue, options, row) {
                    return '<input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="agreedToContributeButNotPaid_' + row.id + '" type="checkbox" ' + (row.agreedToContributeButNotPaid ? ' checked="checked"' : '') + '" data-row-id="' + row.id + '" />';
                },
                "mpName": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="mpName_' + row.id + '" type="text" class="form-control" value="' + row.mpName + '"></div>';
                },
                "mpParty": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="mpParty_' + row.id + '" type="text" class="form-control" value="' + row.mpParty + '"></div>';
                },
                "mpConstituency": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="mpConstituency_' + row.id + '" type="text" class="form-control" value="' + row.mpConstituency + '"></div>';
                },
                "mpEngaged": function(cellvalue, options, row) {
                    return '<input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="mpEngaged_' + row.id + '" type="checkbox" ' + (row.mpEngaged ? ' checked="checked"' : '') + '" data-row-id="' + row.id + '" />';
                },
                "mpSympathetic": function(cellvalue, options, row) {
                    return '<input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="mpSympathetic_' + row.id + '" type="checkbox" ' + (row.mpSympathetic ? ' checked="checked"' : '') + '" data-row-id="' + row.id + '" />';
                },
                "schemes": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="schemes_' + row.id + '" type="text" class="form-control input-large" value="' + row.schemes + '"></div>';
                },
                "notes": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="notes_' + row.id + '" type="text" class="form-control input-large" value="' + row.notes + '"></div>';
                },
                "industry": function(cellvalue, options, row) {
                    return '<div class="input-group"><input ' + (row.status == 3 ? 'disabled="disabled"' : '') + ' id="industry_' + row.id + '" type="text" class="form-control input-large" value="' + row.industry + '"></div>';
                },
                "group": function(cellvalue, options, row) {
                    if (row.group == "LCAG Guests" || row.group == "Registered" || row.group == "Moderators") {
                        return '<select id="group_' + row.id + '" class="form-control"><option ' + (row.group == 'LCAG Guests' ? 'selected="selected"' : '') + '>LCAG Guests</option><option ' + (row.group == 'Registered' ? 'selected="selected"' : '') + '>Registered</option><option ' + (row.group == 'Moderators' ? 'selected="selected"' : '') + '>Moderators</option></select>';
                    }

                    return row.group;
                },
                "action": function(cellvalue, options, row) {
                     if (row.status != 3) {
                        return '<button type="button" class="btn btn-default update-row-btn" data-row-id="' + row.id + '"><span class="fa fa-check fa-lg" aria-hidden="true"></span>&nbsp;Update</button>';
                    }

                    return "";
                }
            };

            $(function () {
                "use strict";
                $("#grid").jqGrid({
                    colModel: [
                        { name: "id", label: "ID", hidden: true },
                        { name: "registrationDate", label: "Registration Date", width: 90, align: "center", sorttype: "date", formatter: "date", formatoptions: { newformat: "d-M-Y" }, formatter: formatters.registrationDate },
                        { name: "name", label: "Name", width: 150, template: "string", formatter: formatters.name },
                        { name: "username", label: "Username", width: 150, template: "string" },
                        { name: "emailAddress", label: "Email Address", width: 150, template: "string" },
                        { name: "hmrcLetterChecked", label: "HMRC Letter Received", width: 59, formatter: formatters.hmrcLetterChecked, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;1:Yes;0:No" } },
                        { name: "identificationChecked", label: "Identification Checked", width: 59, formatter: formatters.identificationChecked, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;1:Yes;0:No" } },
                        { name: "contributionAmount", label: "Contribution Amount", width: 65, align: "center", formatter: formatters.contributionAmount },
                        { name: "contributionDate", label: "Contribution Date", width: 110, align: "center", sorttype: "date", formatter: formatters.contributionDate},
                        { name: "agreedToContributeButNotPaid", label: "Agreed To Contribute But Not Paid", width: 59, formatter: formatters.agreedToContributeButNotPaid, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;1:Yes;0:No" } },
                        { name: "mpName", label: "MP Name", width: 90, formatter: formatters.mpName },
                        { name: "mpParty", label: "MP Party", width: 90, formatter: formatters.mpParty },
                        { name: "mpConstituency", label: "MP Constituency", width: 90, formatter: formatters.mpConstituency },
                        { name: "mpEngaged", label: "MP Engaged", width: 59, formatter: formatters.mpEngaged, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;1:Yes;0:No" } },
                        { name: "mpSympathetic", label: "MP Sympathetic", width: 59, formatter: formatters.mpSympathetic, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;1:Yes;0:No" } },
                        { name: "schemes", label: "Schemes", width: 250, formatter: formatters.schemes },
                        { name: "industry", label: "Industry", width: 250, formatter: formatters.industry },
                        { name: "notes", label: "Notes", width: 250, formatter: formatters.notes },
                        { name: "group", label: "Group", width: 90, formatter: formatters.group, stype: "select", searchoptions: { sopt: ["eq", "ne"], value: ":Any;LCAG Guests:LCAG Guests;Registered:Registered;Moderators:Moderators;Administrators:Administrators" } },
                        { name: "action", label: "", width: 65, formatter: formatters.action, search: false }
                    ],
                    datatype: function(postData) {
                            jQuery.ajax({
                                url: urlPrefix + '/member',
                                data: postData,
                                dataType: "json",
                                complete: function(response, status) {
                                    if (status == "success") {
                                        var grid = $("#grid")[0];
                                        grid.addJSONData(response.responseJSON);
                                    }
                                }
                            });
                    },
                    iconSet: "fontAwesome",
                    sortname: "id",
                    sortorder: "desc",
                    threeStateSort: false,
                    headertitles: true,
                    pager: true,
                    rowNum: 25,
                    width: "2700px",
                    altRows: true,
                    rowattr: function (row) {
                        if (row.group == "Registered") {
                            return { "class": "success" };
                        } else if (row.group == "Administrators") {
                            return { "class": "danger" };
                        } else if (row.group == "Moderators") {
                            return { "class": "info" };
                        }
                    },
                    viewrecords: true,
                    gridComplete: function() {
                        $("#grid").find(".update-row-btn").on("click", function(e) {
                            var rowContext = this;
                            $.ajax({
                                  type: "POST",
                                  url: urlPrefix + "/member/update",
                                  data: (function() {
                                    console.log("rowContext", rowContext);
                                    var id = $(rowContext).data("row-id");
                                    var contributionDate = $("#contributionDate_" + id).val();
                                    var formattedContributionDate = null;

                                    if (contributionDate != null && contributionDate != "") {
                                        formattedContributionDate = moment(contributionDate, "DD/MM/YYYY").format();
                                    }

                                    console.log("id", id);

                                    return {
                                        "id": id,
                                        "identificationChecked": $("#identificationChecked_" + id).prop("checked"),
                                        "hmrcLetterChecked": $("#hmrcLetterChecked_" + id).prop("checked"),
                                        "contributionAmount": $("#contributionAmount_" + id).val(),
                                        "contributionDate": formattedContributionDate,
                                        "agreedToContributeButNotPaid": $("#agreedToContributeButNotPaid_" + id).prop("checked"),
                                        "mpName": $("#mpName_" + id).val(),
                                        "mpParty": $("#mpParty_" + id).val(),
                                        "mpConstituency": $("#mpConstituency_" + id).val(),
                                        "mpEngaged": $("#mpEngaged_" + id).prop("checked"),
                                        "mpSympathetic": $("#mpSympathetic_" + id).prop("checked"),
                                        "schemes": $("#schemes_" + id).val(),
                                        "industry": $("#industry_" + id).val(),
                                        "notes": $("#notes_" + id).val(),
                                        "group": $("#group_" + id).val()
                                    };
                                  })(),
                                  success: function(e) { $("#grid").trigger("reloadGrid"); }
                                });
                        });
                        $('.date').datepicker({
                            autoclose: true,
                            format: "dd/mm/yyyy"
                        });
                    }
                }).jqGrid("filterToolbar", {
                    searchOnEnter: false
                });

                $.ajax({
                  method: "GET",
                  url: urlPrefix + "/statistics"
                }).done(function(result) {
                    $("#totalContributions").html("Total £" + result.totalContributions);
                    $("#totalContributors").html(result.totalContributors + " Contributors");
                    $("#numberOfRegisteredMembers").html(result.numberOfRegisteredMembers + " Members");
                    $("#numberOfGuests").html(result.numberOfGuests + " Guests");
                });
            });
        </script>
    </body>
</html>
