<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>

    <style>
        .pagination li a, .pagination li span {
            cursor: pointer;
        }
    </style>

</head>
<body>
<table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="id" data-visible="false" data-identifier="true">ID</th>
        <th data-column-id="registrationDate" data-order="desc">Registration Date</th>
        <th data-column-id="name">Name</th>
        <th data-column-id="username">Username</th>
        <th data-column-id="emailAddress">Email Address</th>
        <th data-column-id="hmrcLetterChecked">HMRC Letter Checked</th>
        <th data-column-id="identificationChecked">ID Checked</th>
        <th data-column-id="contributionAmount">Contribution Amount</th>
        <th data-column-id="contributionDate">Contribution Date</th>
        <th data-column-id="mpName">MP Name</th>
        <th data-column-id="group">Group</th>
        <th data-column-id="action" data-formatter="action" data-sortable="false"></th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
            var grid = $("#grid-data").bootgrid({
                method: "GET",
                ajax: true,
                url: "/member",
                rowCount: [25, 50, 100, -1],
                formatters: {
                    "action": function(column, row) {
                        var icon = "";
                        var text = "";

                        if (row.group == 'LCAG Guests') {
                            icon = "fa-check";
                            text = "Upgrade to <strong>Registered</strong>";
                        } else if (row.group == 'Registered') {
                            icon = "fa-times";
                            text = "Revert to <strong>LCAG Guests</strong>";
                        } else {
                            return "";
                        }

                        return '<button type="button" class="btn btn-default toggle-membership-btn" data-group-name="' + row.group + '" data-row-id="' + row.id + '"><span class="fa ' + icon + ' fa-lg" aria-hidden="true"></span>&nbsp;' + text + '</button>';
                    }
                },
                 requestHandler: function (request) {
                     var model = { };

                     model.current = request.current;
                     model.rowCount = request.rowCount;
                     model.searchPhrase = request.searchPhrase;

                     for (var key in request.sort) {
                         model.sortBy = key;
                         model.sortDirection = request.sort[key];
                     }

                     return model;
                 },
            }).on("loaded.rs.jquery.bootgrid", function() {
                grid.find(".toggle-membership-btn").on("click", function(e) {
                    $.ajax({
                          type: "POST",
                          url: "/member/group",
                          data: {"memberId": $(this).data("row-id"), group: $(this).data("group-name") == 'LCAG Guests' ? 'Registered' : 'LCAG Guests'},
                          success: function(e) { $("#grid-data").bootgrid("reload"); }
                        });
                });
            });
        </script>
</body>
</html>
